table {
    border: 3px solid;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50;
    left: 500px;
    border: 3px solid #43D7EE;
    border-radius: 25px;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 15px;
}

.form-container .cancel {
    background-color: red;
    border-radius: 15px;
}

.form-container .btn:hover, .open-button:hover {
    background-color: #77D6F3;
    opacity: 1;
}