body {
    background-image: url("/img/ticket.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.form {
    margin: 50px auto;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 300px;
    padding: 30px 25px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 217, 255));
    border: 3px solid rgb(5, 238, 255);
    border-radius: 10px;
}

.form p {
    color: #031b3a;
    font-family: sans-serif;
}

h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.login-button:hover {
    background: #037e94;
}

.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}
